<div class='container'>
    <form action={{form_action}} method="POST">
        <label for="produto">Adicionar Produto:</label>
        <select name-"produto" >
            {{#allProducts}}
                <option value={{id}}>{{nome}}</option>
            {{/allProducts}}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>