<div class="content">
    {{#produtos}}
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nome}}</td>
                <td>{{value}} $</td>
                <td><a href={{remover}}{{receita_id}}/{{id}}>Remover</a></td>
            </tr>
        </tbody>
    </table>
    {{/produtos}}
    <a href="{{addProduto}}">Adicionar Produto</a>
</div>