<div class="content">
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            {{#hasPerms}}
            <th>Remover</th>
            {{/hasPerms}}
        </tr>
        </thead>
        <tbody>
    {{#enfermeiros}}
            <tr>
                <td>{{nome}}</td>
                <td>{{especialidade}}</td>
                {{#hasPerms}}
                <td><a href={{remover}}{{consulta_id}}/{{id}}>Remover</a></td>
                {{/hasPerms}}
            </tr>
    {{/enfermeiros}}
        </tbody>
    </table>
    {{#hasPerms}}
    <a href="{{addEnfermeiro}}">Adicionar Enfermeiro</a>
    {{/hasPerms}}

</div>