<body>
    <div id="container1">
        <h3>{{lista_users_h3}}</h3>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {{#listaUsers}}
                <!-- ASSIM SABE QUE É UMA LISTA -->
                <tr>
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                    <th>{{email}}</th>
                </tr>
                {{/listaUsers}}
            </tbody>
        </table>
        <a href="{{caminho}}">Exemplo 6</a>
    </div>
</body>