<div class="container">
    <h1>Consultas de hoje</h1>
    <table>
        <thead>
        <tr>
            <th>Medico</th>
            <th>Utente</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{medico}}</td>
                <td>{{utente}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
</div>