<div class="container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{nome}}</td>
                <td>{{especialidade}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
</div>