<div class="container">
  <form class="login-form" action="{{action}}" method="post" enctype="multipart/form-data">
    <h2>Login</h2>
    <p class="error-text">{{error}}</p>
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Entrar</button>
  </form>
</div>
