<table>
    <thead>
      <tr>
        <th>nome</th>
        <th>Morada</th>
      </tr>
    </thead>
    <tbody>
    {{#lutentes}}
        <tr>
            <td>{{nome}}</td>
            <td>{{morada}}</td>
        </tr>
    {{/lutentes}}
    </tbody>
  </table>