<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
         <link href="resources/css/main.css" rel="stylesheet" type="text/css"/>
         <link href={{css}} rel="stylesheet" type="text/css"/>
	</head>
<body>