<div class="content">
    {{#user}}
        <form action="{{action}}editUser/{{user_id}}">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" value="{{username}}"/>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" value="{{email}}"/>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"">
            <input type="submit" value="Submit">
        </form>
    {{/user}}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Edicao</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{user_id}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{tipo}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
</div>