<div class="container">
    {{#receita}}
        <div class="miniContainer">
            <p class="title">Data da consulta:</h2>
            <p class="subtitle">{{data}}</p>
        </div>
        <div class="miniContainer">
            <p class="title">Estado:</h2>
            <p class="subtitle">{{estado}}</p>
        </div>
        <div class="miniContainer">
            <p class="title">Cuidado:</h2>
            <p class="subtitle">{{cuidado}}</p>
        </div>
        <div class="miniContainer">
            <p class="title">Utente:</h2>
            <p class="subtitle">{{utente}}</p>
        </div>
        <div class="miniContainer">
            <p class="title">Medico:</h2>
            <p class="subtitle">{{medico}}</p>
        </div>
        <div class="miniContainer">
            <p class="title">Receita:</h2>
            <p class="subtitle">{{receita}}</p>
        </div>
        {{#produtos}}
            <div class="miniContainer">
                <p class="title">Produto:</h2>
                <p class="subtitle">{{nome}}</p>
                <p class="title">Preco:</h2>
                <p class="subtitle">{{value}}</p>
            </div>
        {{/produtos}}
        <div class="miniContainer">
            <a class="download-button" href='{{url}}produtos/receita/{{id}}'>Produtos</a>
            <a class="download-button" href='{{url}}enfermeiros/consulta/{{id_consulta}}'>Enfermeiros</a>
            <a class="download-button" href='{{url}}downloadReceita/{{id}}'>Download</a>
            <a class="download-button" href='{{url}}sendEmail/{{id}}'>Enviar por email.</a>
            <a class="download-button" href='{{url}}editReceita/{{id}}'>Editar</a>
        </div>
    {{/receita}}
</div>