<div class="container">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>nUtente</th>
            <th>Morada</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{nUtente}}</td>
                <td>{{morada}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
       <p class="links">{{{links}}}</p>
</div>