RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php/$1 [L]

# RewriteRule ^user/([0-9]+)/?$ ws.php?id=$1 [NC,L]
# RewriteRule ^(assoc)/([0-9]+)/?$ ws.php?id=$2&tb=$1 [NC,L]

# RewriteRule ^([a-zA-Z]+)/?$ ws.php?tb=$1 [NC,L]
# RewriteRule ^([a-zA-Z]+)/([0-9]+)/?$ ws.php?id=$2&tb=$1 [NC,L]





