body {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  position: relative; /* added */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.error-text {
  color: red;
  text-align: left;
  font-size: 16px;
}
