<div class='container'>
    <form action={{form_action}} method="POST">
        <label for="{{selectName}}">{{label}}:</label>
        <select name="{{selectName}}" >
            {{#allList}}
                <option value={{id}}>{{nome}}</option>
            {{/allList}}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>