<div class="list">
    {{error}}
    <form action={{form_action}} method="POST" enctype="multipart/form-data">
        <label for="nome">Nome do produto:</label>
        <input type="text" name="nome" required/>
        <label for="value">Valor:</label>
        <input type="number" name="value" required/>
        <label for="imagem">Imagem produto:</label>
        <input type="file" name="imagem"/>
        <input type="submit" value="Submit">
</div>